/* #menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: white;
} */
body {
  background-color: pink;
}
#menu {
  background-color: pink;
  color: white;
  font-family: Calibri, sans-serif;
  font-size: 20px;
  text-align: center;
}
#about p {
  font-size: 16px;
  font-family: Calibri, sans-serif;
  text-align: justify;
  line-height: 1.5;
}
#photos img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/* 
<section id="playlist" class="section">
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/IdneKLhsWOQ" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<style>
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

  .video-container iframe {
    width: 100%;
    height: 100%;
  }
</style> */

form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
